.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.skills {
  width: 100%;
  min-height: 100vh;
  background: white;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: cneter;
  flex-wrap: wrap;
  .head {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    @extend .flex-center;
    justify-content: flex-start;
    padding: 20px;
    span {
      padding-left: 10px;
    }
  }

  div.skill {
    width: 150px;
    height: 200px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    @extend .flex-center;
    display: inline-flex;
    flex-direction: column;
    margin: 5px 3%;
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 10px 23px 18px rgba(0, 0, 0, 0.1);
    }

    p.progress {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background: conic-gradient(blueviolet 0deg, #eee 0deg);
      @extend .flex-center;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) inset;
      span {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: white;

        font-size: 80px;
        @extend .flex-center;
      }
    }
    p.detail {
      height: 50px;
      width: 100%;
      @extend .flex-center;
      flex-direction: column;
      .title {
        font-size: large;
      }
      .level {
        font-weight: normal;
        font-size: small;
      }
    }
  }
  div.more {
    width: 100%;
    margin: 20px 0;
    @extend .flex-center;
    a.read-btn {
      all: unset;
      cursor: pointer;
      padding: 10px 20px;
      background: blueviolet;
      color: white;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0px 10px 23px 18px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width: 770px) {
  section.skills div.skill {
    margin: 5px;
  }
}
